<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cars</title>
    <style>
        table {
            width: 600px;
            height: 600px;
            border: 2px solid #888888;
            margin: auto;
        }
        td {
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>Brand</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        <tr th:each="cars : ${cars}">
            <td th:text="${cars.brand}"></td>
            <td th:text="${cars.modelName}"></td>
            <td th:text="${cars.age}"></td>
        </tr>
    </table>

</div>
</body>
</html>